@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    My name is Nathaniel Mellott and I am a Junior double-majoring in Marketing and Management Information Systems.
    I was born in Oak Harbor, WA but currently live in State College, PA. At school, I am in the Schey Sales Centre,
    Emerging Leaders, and Alpha Kappa Psi. In my free time, I enjoy watching sports and reading.
</p>