@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    1225 Eldridge Parkway<br />
    Lemoore, CA 45701<br />
    <abbr title="Phone">P:</abbr>
    814-559-0740
</address>

<address>
    <strong>My Email:</strong>   <a href="mailto:nm916616@ohio.edu">nm916616@ohio.edu</a><br />
</address>