@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p class="lead">This is my application, containing some information about me and my interests.</p>
        <p><a href="https://www.linkedin.com/in/nate-mellott" class="btn btn-primary btn-lg">View My LinkedIn &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Sports</h2>
        <p>
            I really love sports, they are how I spend a lot of my free time. To stay up to date on the sporting world, follow this link.
        </p>
        <p><a class="btn btn-default" href="https://www.espn.com/">Look at sports &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SD2</h2>
        <p>Here is the model for SD2.</p>
        <p><a>@Html.ActionLink("Owners", "Index", "Owners")</a></p>
        <p><a>@Html.ActionLink("Pets", "Index", "Pets")</a></p>
        <p><a>@Html.ActionLink("Vets", "Index", "Vets")</a></p>
    </div>
    <div class="col-md-4">
        <h2>DHL Supply Chain</h2>
        <p>This summer, I will be interning with DHL Supply Chain as an Implementation Analyst Intern. Here is a link to learn more about the company.</p>
        <p><a class="btn btn-default" href="https://www.logistics.dhl/us-en/home/our-divisions/supply-chain.html">Learn More about DHL &raquo;</a></p>
    </div>
</div>